body{
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    padding-left: 650px;
}

#desc{
    padding-left: 400px;
}
#desc2{
    padding-left: 650px;
}

#imgPag1{
    padding-left: 695px;
}

header{
    background-color: black;
    color: white;
    padding:10px;   
}

#hAlt{
    margin-bottom: 10px;
}

footer{
    font-weight: bolder;
    background-color: rgb(110, 110, 110);
}

.nav{
    padding-left: 250px ;
}

a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

button{
    background-color: rgb(15, 15, 15);
    margin-left: 60px;
}

#button{
    background-color: rgb(184, 184, 184);
    margin-left: 30px;
    margin-top: 10px;
    width: 200px;
}

img{
    width:200px;
}

#img1{
    width:50px;
}



