.titulo{

    text-align: center;
}

div{
    margin: auto;
    margin-top: 100px;
    border: solid 3px;
    border-radius: 20px;
    text-align: center;
    width: 700px;
    height: 500px;
}

div h1{
    position: relative;
    top: 30px;
}

div h4{
    position: relative;
    top: 30px;
}

textarea{
    position: relative;
    top: 100px;
    margin: auto;
    display: block;
    width: 500px;
}

div input{
    margin: auto;
    margin-top: 5px;
    display: block;
    width: 300px;
    height: 30px;
    position: relative;
    top: 80px;
}

div button{
    color: white;
    background-color: rgb(79, 79, 241);
    position: relative;
    top: 130px;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

div button:hover{
    color: white;
    background-color: rgb(53, 53, 173);
    position: relative;
    top: 170px;
    margin: auto;
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

footer{
    background-color: black;
}

footer img{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
}

#git{
    border: solid white 1px;
    border-radius: 100%;
}