*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(255, 255, 255);
}
header h1{
    font-family: 'Comfortaa', cursive;
    color: rgb(49, 49, 153);
    position: relative;
    top: 32px;
    left: 30px;

}

header ol{
    position: relative;
    left: 55%;
    bottom: 18px;
}

header li{
    display: inline;
    margin-left: 40px;
}

header a{
    font-size: 23px;
    font-weight: bold;
    color: rgb(79, 79, 241);
    text-decoration: none;
}


header a:hover{
    font-size: 23px;
    color: rgb(53, 53, 173);
    text-decoration: underline;
}

header button{
    background-color:rgb(79, 79, 241);
    font-size: 23px;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 200px;
    
}

header button:hover{
    background-color:rgb(53, 53, 173);
    font-size: 23px;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 200px;
}

footer{
    text-align: center;
    color: white;
}