#titulo{
    text-align: center;
}

img{
    width: 700px;
}

.projeto a{
    text-decoration: none;
}

.projeto{
    position: relative;
    top: 100px;
    text-align: center;
}

.projeto button{
    font-size: 20px;
    color: white;
    background-color: rgb(79, 79, 241);
    width: 300px;
    height: 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
}

.projeto button:hover{
    font-size: 20px;
    color: white;
    background-color: rgb(53, 53, 173);
    width: 300px;
    height: 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
}

footer{
    background-color: black;
}

footer img{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
}

#git{
    border: solid white 1px;
    border-radius: 100%;
}

    